*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background:salmon;
}
section{
 display: grid;
 place-items: center;
 padding:4rem;
}
h1,h2{
 padding:0.5rem;
}
.image{
 height:400px;
 width:400px;
 border-radius:50%;
}
.btn-holder{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 margin:1rem;
}
button{
 padding:0.4rem;
 font-size: 1.4rem;
 margin:0.2rem;
 border-radius: 0.2rem;
 border:none;
 cursor: pointer;
}
button:hover{
 background:blue;
 color:white;
}

@media screen and (max-width:425px) {
 .image{
  height: 200px;
  width: 200px;
 }
  button {
   padding: 0.2rem;
   font-size: 1rem;
   margin: 0.2rem;
   border-radius: 0.2rem;
  }
 
}